Repository yurrriq/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: deadnix, nixpkgs-fmt, biber-format, shfmt

deadnix:
  description: Scan Nix files for dead code
  name: deadnix
  entry: deadnix --edit --fail --no-lambda-arg --no-lambda-pattern-names
  language: system

nixpkgs-fmt:
  description: Format nix code with nixpkgs-fmt.
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

biber-format:
  description: Use Biber to format .bib files
  entry: scripts/format-biber.sh
  language: script
  name: Format .bib files

shfmt:
  description: Use shfmt to format .sh files
  entry: scripts/format-scripts.sh
  language: script
  name: Format .sh files

fix: drop *.defs and references (close #21)
  Makefile
  VERSION
Due: none

fix: drop fish-kubectl-completions
  Makefile
  VERSION
  flake.nix
  machines/sruxps/configuration.nix
  pkgs/shells/fish/kubectl-completions/default.nix
  src/flake.nw
  src/machines/sruxps/configuration.nw
  src/packages.nw
Due: deadnix, nixpkgs-fmt

feat: add initial noweb chunks for those missing
  Makefile
  VERSION
  src/config/applications.nw
  src/config/clis.nw
  src/config/fonts.nw
  src/config/git/lab.nw
  src/config/nix.nw
  src/packages.nw
Due: none

docs: flesh out and edit a bit
  VERSION
  config/applications.nix
  src/config/applications.nw
  src/config/taskwarrior/on-exit-git.nw
  src/dotfiles.tex
  src/flake.nw
Due: deadnix, nixpkgs-fmt

fix: typo devenv.{nixos -> cachix}.org
  config/nix.nix
  src/config/nix.nw
Due: deadnix, nixpkgs-fmt

fix: and initExtra for non-NixOS XMonad
  VERSION
  config/xmonad/default.nix
  machines/sruxps/home.nix
  src/config/xmonad/default.nw
  src/machines/sruxps/home.nw
Due: deadnix, nixpkgs-fmt

docs: flesh out some flake descriptions
  VERSION
  src/flake.nw
  src/preamble.tex
Due: none

fix: shore up git config
  VERSION
  config/git/default.nix
  config/git/lab.nix
  src/config/git/default.nw
  src/config/git/lab.nw
Due: deadnix, nixpkgs-fmt

fix: ignore generated src/**/*.tex
  VERSION
  src/.gitignore
Due: none

fix: gitignore /docs/
  .gitignore
  VERSION
Due: none

refactor: [sruxps] import all non-excluded configs
  VERSION
  machines/sruxps/home.nix
  src/machines/sruxps/home.nw
Due: deadnix, nixpkgs-fmt

fix: overlay -> overlays.default
  VERSION
  flake.nix
  src/flake.nw
Due: deadnix, nixpkgs-fmt

docs: describe mkSystem
  VERSION
  src/flake.nw
Due: none

feat: split Makefile by target
  .editorconfig
  Makefile
  Makefile.home-manager
  Makefile.nixos
  Makefile.ubuntu
  VERSION
Due: none

docs: add/edit more of the flake descriptions
  VERSION
  src/flake.nw
Due: none

feat: adopt flake-utils.lib.eachDefaultSystem
  VERSION
  flake.nix
  src/flake.nw
Due: deadnix, nixpkgs-fmt

feat: adopt includedir in gitconfig
  VERSION
  config/git/config.nix
  config/git/default.nix
  src/config/git/config.nw
  src/config/git/default.nw
Due: deadnix, nixpkgs-fmt

fix: ${kernel_version}
  Makefile
  VERSION
Due: none

fix: update .stow-local-ignore
  .stow-local-ignore
  VERSION
Due: none

feat: add more gitconfigs
  VERSION
  config/git/config.nix
  src/config/git/config.nw
Due: deadnix, nixpkgs-fmt

feat: add graphviz-dot-mode to emacs
  VERSION
  config/emacs/init.el
  src/config/emacs/init.nw
Due: none

feat: add more abbrs
  VERSION
  config/fish/abbrs.nix
  config/git/aliases.nix
  src/config/fish/abbrs.nw
  src/config/git/aliases.nw
Due: deadnix, nixpkgs-fmt

refactor: adopt programs.git.includes
  VERSION
  config/git/config.nix
  src/config/git/config.nw
Due: deadnix, nixpkgs-fmt

feat: configure accounts.email.accounts.personal
  VERSION
  config/git/config.nix
  machines/sruxps/home.nix
  src/config/git/config.nw
  src/machines/sruxps/home.nw
Due: deadnix, nixpkgs-fmt

fix: tidy up account-handling in git config
  VERSION
  config/git/config.nix
  config/git/default.nix
  config/gpg.nix
  machines/nixps/home.nix
  machines/sruxps/home.nix
  src/config/git/config.nw
  src/config/git/default.nw
  src/config/gpg.nw
  src/machines/nixps/home.nw
  src/machines/sruxps/home.nw
Due: deadnix, nixpkgs-fmt

feat: expose home-manager modules
  VERSION
  config/git/lab.nix
  config/xmonad/default.nix
  flake.nix
  machines/nixps/home.nix
  machines/sruxps/home.nix
  src/config/git/lab.nw
  src/config/xmonad/default.nw
  src/flake.nw
  src/machines/nixps/home.nw
  src/machines/sruxps/home.nw
Due: deadnix, nixpkgs-fmt

fix: diff for home-manager
  Makefile.home-manager
  VERSION
Due: none

refactor: define nixosModules.home-manager
  VERSION
  flake.nix
  src/flake.nw
Due: deadnix, nixpkgs-fmt

fix: hack together sharedModules for non-NixOS
  VERSION
  flake.nix
  src/flake.nw
Due: deadnix, nixpkgs-fmt

docs: add note about docker-credential-pass store
  TODO.txt
Due: none

fix: tidy modules within homeConfigurations
  VERSION
  flake.nix
  src/flake.nw
Due: deadnix, nixpkgs-fmt

build: nix flake update
  flake.lock
  flake.nix
  machines/sruxps/home.nix
  src/flake.nw
  src/machines/sruxps/home.nw
Due: deadnix, nixpkgs-fmt

feat: add gitlab-runner module
  .sops.yaml
  modules/gitlab-runner.nix
  modules/gitlab-runner/.gitignore
  modules/gitlab-runner/default.nix
  modules/gitlab-runner/gitlab-runner-registration.enc
Due: deadnix, nixpkgs-fmt

[sruxps] feat: enable OpenSnitch
  VERSION
  machines/sruxps/configuration.nix
  src/machines/sruxps/configuration.nw
Due: deadnix, nixpkgs-fmt

[sruxps] feat: add kube3d
  machines/sruxps/home.nix
  modules/virtualisation.nix
  src/machines/sruxps/home.nw
  src/modules/virtualisation.nw
Due: deadnix, nixpkgs-fmt

[nixps] feat: try musnix
  flake.nix
  machines/nixps/configuration.nix
  modules/nixos.nix
Due: deadnix, nixpkgs-fmt

feat: adopt treefmt-nix
  .pre-commit-config.yaml
  VERSION
  flake.lock
  flake.nix
  scripts/format-scripts.sh
  src/flake.nw
Due: deadnix, nixpkgs-fmt, shfmt

Path conditions:
  deadnix: any of: \.nix$, but not: pkgs/development/node-packages/node-env\.nix$
  nixpkgs-fmt: any of: \.nix$
  biber-format: any of: .+\.bib$
  shfmt: any of: .+\.sh$
