Repository yurrriq/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, biber-format, shfmt

nixpkgs-fmt:
  description: Format nix code with nixpkgs-fmt.
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

biber-format:
  description: Use Biber to format .bib files
  entry: scripts/format-biber.sh
  language: script
  name: Format .bib files

shfmt:
  description: Use shfmt to format .sh files
  entry: scripts/format-scripts.sh
  language: script
  name: Format .sh files

bootyjams: add /mnt/reaper
  VERSION
  modules/bootyjams.nix
  src/modules/bootyjams.nw
Due: nixpkgs-fmt

[nixps] system.stateVersion: 21.11 -> 22.05
  .stow-local-ignore
  machines/nixps/configuration.nix
  machines/nixps/home.nix
  modules/nix.nix
  modules/nixos.nix
  src/machines/nixps/configuration.nw
  src/machines/nixps/home.nw
  src/modules/nix.nw
  src/modules/nixos.nw
Due: nixpkgs-fmt

nix flake update
  VERSION
  flake.lock
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

Update GitHub Actions config
  .github/workflows/build.yml
  VERSION
Due: none

bin/fix-underscores: fix @use too
  VERSION
  bin/fix-underscores
Due: none

nix flake update
  VERSION
  flake.lock
Due: none

clis: add nix-output-monitor
  config/clis.nix
Due: nixpkgs-fmt

nix flake update, stateVersion: 22.05 -> 22.11
  VERSION
  config/xmobar/xmobarrc
  flake.lock
  flake.nix
  machines/nixps/home.nix
  machines/sruxps/home.nix
  modules/nixos.nix
  src/flake.nw
  src/machines/nixps/home.nw
  src/machines/sruxps/home.nw
  src/modules/nixos.nw
Due: nixpkgs-fmt

[nixps] Update hardware-configuration.nix
  Makefile
  VERSION
  machines/nixps/hardware-configuration.nix
Due: nixpkgs-fmt

xmonad: fix typo
  VERSION
  config/xmonad/xmonad.hs
Due: none

[nixps] re-install signal-desktop
  VERSION
  machines/nixps/home.nix
  src/machines/nixps/home.nw
Due: nixpkgs-fmt

Makefile: add diff-hm target
  Makefile
  VERSION
Due: none

[sruxps] configure screen locking again
  VERSION
  config/screen-locker.nix
  machines/sruxps/home.nix
  src/config/screen-locker.nw
  src/machines/sruxps/home.nw
Due: nixpkgs-fmt

[sruxps] use i3lock from Aptitude
  TODO.txt
  VERSION
  config/screen-locker.nix
  config/xmonad/xmonad.hs
  src/config/screen-locker.nw
Due: nixpkgs-fmt

[sruxps] recover from disk failure
  Makefile
  TODO.txt
  VERSION
  config/firefox.nix
  flake.lock
  flake.nix
  machines/sruxps/home.nix
  pkgs/development/node-packages/node-env.nix
  pkgs/development/node-packages/node-packages.nix
  src/config/firefox.nw
  src/flake.nw
  src/machines/sruxps/home.nw
  xsessions/xmonad.desktop
Due: nixpkgs-fmt

Update TODO.txt
  TODO.txt
Due: none

xmonad: check in WIP Ubuntu hacks
  config/xmonad/xmonad-session
  config/xmonad/xmonad.desktop
Due: none

nix flake update and unify inputs
  VERSION
  flake.lock
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

taskwarrior: appease shellcheck
  VERSION
  config/taskwarrior/on-exit-git.sh
  src/config/taskwarrior/on-exit-git.nw
Due: shfmt

[sruxps] skip xsessions for now
  Makefile
  VERSION
Due: none

nix flake update
  VERSION
  config/firefox.nix
  flake.lock
  machines/sruxps/home.nix
  src/config/firefox.nw
  src/machines/sruxps/home.nw
Due: nixpkgs-fmt

Revert "nix flake update"
  VERSION
  config/firefox.nix
  flake.lock
  machines/sruxps/home.nix
  src/config/firefox.nw
  src/machines/sruxps/home.nw
Due: nixpkgs-fmt

[sruxps] add rbw and rofi-rbw
  VERSION
  config/rbw.nix
  config/rofi.nix
  machines/sruxps/home.nix
  src/config/rofi.nw
  src/machines/sruxps/home.nw
Due: nixpkgs-fmt

Revert "[sruxps] add rbw and rofi-rbw"
  VERSION
  config/rbw.nix
  config/rofi.nix
  machines/sruxps/home.nix
  src/config/rofi.nw
  src/machines/sruxps/home.nw
Due: nixpkgs-fmt

Drop nixGL (for now?)
  VERSION
  flake.lock
  flake.nix
  machines/sruxps/home.nix
  src/flake.nw
  src/machines/sruxps/home.nw
Due: nixpkgs-fmt

[sruxps] set up new machine, "fix" nixGL nonsense
  Makefile
  TODO.txt
  VERSION
  flake.lock
  flake.nix
  machines/sruxps/home.nix
  src/flake.nw
  src/machines/sruxps/home.nw
  xorg.conf.d/00-keyboard.conf
  xorg.conf.d/40-touchpad.conf
Due: nixpkgs-fmt

i3lock: matrix.png -> skyrim.raw
  .gitattributes
  config/screen-locker.nix
  config/xmonad/Makefile
  config/xmonad/skyrim.jpg
  config/xmonad/skyrim.raw
  config/xmonad/xmonad.hs
  src/config/screen-locker.nw
Due: nixpkgs-fmt

[sruxps] add more notes
  TODO.txt
Due: none

make bump-version part=major
  VERSION
Due: none

[sruxps] nix.enable = true, cachix use devenv
  VERSION
  config/nix.nix
  machines/sruxps/home.nix
  src/machines/sruxps/home.nw
Due: nixpkgs-fmt

Create .github/dependabot.yml
  .github/dependabot.yml
Due: none

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: none

build: tidy/sort flake.nix
  VERSION
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

build: use/watch config/emacs/init.el
  .envrc
  VERSION
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

feat: add pre-commit hook to ensure LP
  .pre-commit-config.yaml
  VERSION
Due: none

fix: use keywords with define-minor-mode syntax
  VERSION
  config/emacs/init.el
  src/config/emacs/init.nw
Due: none

feat: helm-do-grep-ag -> deadgrep
  VERSION
  config/clis.nix
  config/emacs/init.el
  src/config/emacs/init.nw
Due: nixpkgs-fmt

fix: exclude node-packages.nix from NIX_SRCS
  Makefile
  VERSION
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  biber-format: any of: .+\.bib$
  shfmt: any of: .+\.sh$
